.titleCard{
  margin-top: 40px;
  margin-bottom: 40px;
}
.titleCard h2{
  margin-bottom: 20px;
}
.card-list{
  display: flex;
  gap: 15px;
  overflow-x: scroll  
}
.card-list::-webkit-scrollbar{
  display: none;
}
.card-list img{
  width: 275px;
  cursor: pointer;
  border-radius: 5px;
}
.card-list .card{
  position: relative;

}
.card-list .card p{
  position: absolute;
  bottom: 5px;
  right: 15px;
  text-decoration: none;
  color: white;
}
@media (max-width: 800px) {
  .titleCard{
    margin-top: 20px;
    margin-bottom: 0;
  }
  .titleCard h2{
    font-size: 20px;
  }
  .card-list img{
    width: 250px;
  }
  .card-list p{
    font-size: 15px;
  }
}
@media (max-width: 500px) {
  .titleCard{
    margin-top: 20px;
    margin-bottom: 0;
  }
  .titleCard h2{
    font-size: 15px;
  }
  .card-list img{
    width: 175px;
  }
  .card-list p{
    font-size: 12px;
  }
}